body{
    background-color: white;
    color: black;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
  margin: 5px;
}

#devId{
   text-align : center;

}

#inputLayout{
  display: inline-block;
  border: 2px solid;
  width : 350px;
  height: 250px;
  margin : 10px;
  padding : 10px;
}

#outputLayout{
  display: inline-block;
   border: 2px solid;
   width : 500px;
   margin : 10px;
   padding : 5px;
}

#deleteLayout{
  border: 2px solid;
  width : 350px;
  height: 250px;
  margin : 10px;
  padding : 10px;

}
